[*.cs]

# CS8601: ¬озможно, назначение-ссылка, допускающее значение NULL.
dotnet_diagnostic.CS8601.severity = none

# CS8622: ƒопустимость значений NULL дл€ ссылочных типов в типе параметра не соответствует целевому объекту делегировани€ (возможно, из-за атрибутов допустимости значений NULL).
dotnet_diagnostic.CS8622.severity = none

# CS8600: ѕреобразование литерала, допускающего значение NULL или возможного значени€ NULL в тип, не допускающий значение NULL.
dotnet_diagnostic.CS8600.severity = none

# CS8602: –азыменование веро€тной пустой ссылки.
dotnet_diagnostic.CS8602.severity = none

# CS4014: “ак как этот вызов не ожидаетс€, выполнение существующего метода продолжаетс€ до тех пор, пока вызов не будет завершен
dotnet_diagnostic.CS4014.severity = silent

# IDE1006: —тили именовани€
dotnet_diagnostic.IDE1006.severity = silent
